body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body, input, button{
  font-family: 'Karla', sans-serif;
}

header{
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  color: #fff;
  justify-content: space-between;
}
header, button{
  background: rgb(103,34,128);
  background: linear-gradient(90deg, rgba(103,34,128,1) 0%, rgba(166,38,211,1) 100%, rgba(166,38,211,1) 100%);

}
.brand{
  display: flex;
  align-items: center;
}

.troll{
  height: 50px;
  margin-right: 1rem;
}
h2{
  font-size: 2rem;
}
h4{
  font-weight: 400;
}
.container{
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}
.meme-form{
  padding: 2rem;
}
.inputs{
  display: flex;
  margin-bottom: 1rem;
}
input:nth-child(1)
{
  margin-right: 1rem;
}
input{
  width: 50%;
  font-size: 1rem;
  color: #0D0D0D;
}
input, input:focus, input:active{
  border: 1px solid #D5D4D8;
  outline: none;
}
input, button{
  padding: 0.75rem;
  border-radius: 5px;
}
button{
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 2rem;
}
.meme{
  width: 100%;
}
@media (max-width: 400px) {
    h2{
      font-size: 1rem;
    }
    .troll{
      height: 30px;
    }
}